:host{
    margin-left: 216px;
    display: block;
    transition:  margin-left .2s, margin-right .2s;
    background-color: #f5f5f5;
    padding:8px;
}

:host.navIsCollapsed{
    margin-left: 50px;
}

:host.feedIsCollapsed{
    margin-right: 50px;
}

section.content{
    box-sizing: border-box;
    background-color: #fff;
    padding: 20px;
}
