@import "variables";
h1.page-title {
    color: $brownish-grey;
    font-size: 18px;
    margin: 0;
    padding-bottom: 20px;
    border-bottom: 1px solid $white-snow;
}

@media (max-width: 880px) {
    h1.page-title {
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        height: 48px;
        background-color: $white;
        box-sizing: border-box;
        padding: 0;
        position: fixed;
        width: 100vw;
        margin-bottom: 148px;
        z-index: 1100;
        &+* {
            padding-top: 48px!important;
        }
    }
}
