<h1 class="page-title">
    Ajustes
</h1>
<section class="tabs-container">
    <tabset>
        <tab heading="Usuario" customClass="luegoluego-tabs">
            <form [formGroup]="userForm">
                <div class="form-group">
                    <label for="full-name">Nombre Completo</label>
                    <input formControlName="fullName" type="text" class="form-control" id="full-name" aria-describedby="full-name">
                </div>
                <div class="form-group">
                    <label for="email">Correo</label>
                    <input formControlName="email" type="email" class="form-control" id="email-user" aria-describedby="email">
                </div>
                <div class="form-group">
                    <label for="phone">Teléfono</label>
                    <input formControlName="phone" type="tel" class="form-control" id="phone-user" aria-describedby="phone">
                </div>
                <div class="form-group" hidden>
                    <label>Contraseña *</label>
                    <a class="change-password" (click)="showChangePasswordModal()">Cambiar Contraseña</a>
                </div>
                <div class="submit-button-container" hidden>
                    <button [disabled]="!userForm.valid" type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </form>
        </tab>
        <tab heading="Empresa" customClass="luegoluego-tabs">
            <form [formGroup]="companyForm">
                <div class="form-group">
                    <label for="name">Nombre</label>
                    <input formControlName="name" type="text" class="form-control" id="name-company" aria-describedby="name">
                </div>
                <div class="form-group">
                    <label for="phone">Teléfono</label>
                    <input formControlName="phone" type="tel" class="form-control" id="phone-company" aria-describedby="phone">
                </div>
                <div class="form-group">
                    <label for="website">Sitio Web</label>
                    <input formControlName="website" type="text" class="form-control" id="website">
                </div>
                <div class="form-group">
                    <label for="email">Correo Electrónico de contacto</label>
                    <input formControlName="email" type="email" class="form-control" id="email-company">
                </div>
                <div class="form-group">
                    <label for="type">Tipo de Empresa</label>
                    <input formControlName="type" type="text" class="form-control" id="type">
                </div>
                <!-- <div class="form-group">
                    <label for="type">Tipo de Empresa</label>
                    <ng-select id="type" [searchable]="false" formControlName="type" placeholder="Tipo de Empresa">
                        <ng-option [value]="'micro'">Micro-empresa (1 - 10 empleados)</ng-option>
                    </ng-select>
                </div> -->
                <div class="form-group" hidden>
                    <label for="billing-information">Información para facturar</label>
                    <textarea formControlName="billingInformation" class="form-control" cols="30" rows="10"></textarea>
                </div>
                <div class="submit-button-container" hidden>
                    <button [disabled]="!companyForm.valid" type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </form>
        </tab>
        <tab heading="Factura" customClass="luegoluego-tabs">
            <form [formGroup]="billingForm">
                <!-- <div class="form-group">
                    <label for="person-type">Tipo de Persona</label>
                    <ng-select id="person-type" [searchable]="false" formControlName="personType">
                        <ng-option [value]="'persona moral'">Persona Moral</ng-option>
                    </ng-select>
                </div> -->
                <div class="form-group">
                    <label for="person-type">Tipo de Persona</label>
                    <input formControlName="personType" type="text" class="form-control" id="person-type">
                </div>
                <div class="form-group">
                    <label for="name">Nombre o Razón Social</label>
                    <input formControlName="name" type="text" class="form-control" id="name">
                </div>
                <div class="form-group">
                    <label for="rfc">RFC</label>
                    <input formControlName="rfc" type="text" class="form-control" id="rfc">
                </div>
                <div class="form-group">
                    <label for="zip-code">Código Postal</label>
                    <input formControlName="zipCode" type="text" class="form-control" id="zip-code">
                </div>
                <!-- <div class="form-group">
                    <label for="usage">Uso de CFDI</label>
                    <ng-select id="usage" [searchable]="false" formControlName="usage">
                        <ng-option [value]="'cfdi'">CFDI</ng-option>
                    </ng-select>
                </div> -->
                <div class="form-group">
                    <label for="usage">Uso de CFDI</label>
                    <input formControlName="usage" type="text" class="form-control" id="usage">
                </div>
                <div class="submit-button-container" hidden>
                    <button [disabled]="!billingForm.valid" type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </form>
        </tab>
        <tab heading="Banco" customClass="luegoluego-tabs">
            <form [formGroup]="bankForm">
                <!-- <div class="form-group">
                    <label for="bank">Banco *</label>
                    <ng-select id="bank" [searchable]="false" formControlName="bank">
                        <ng-option [value]="'banbelloni'">Banco Belloni S.A. de C.V.</ng-option>
                    </ng-select>
                </div> -->
                <div class="form-group">
                <label for="bank">Banco</label>
                    <input formControlName="bank" type="text" class="form-control" id="bank">
                </div>
                <div class="form-group">
                    <label for="spei">Número SPEI</label>
                    <input formControlName="spei" type="text" class="form-control" id="spei">
                </div>
                <div class="form-group">
                    <label for="beneficiary">Nombre del beneficiario</label>
                    <input formControlName="beneficiary" type="text" class="form-control" id="beneficiary">
                </div>
                <div class="submit-button-container" hidden>
                    <button [disabled]="!bankForm.valid" type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </form>
        </tab>
    </tabset>
</section>

<ng-template #templateChangePassword>
    <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="closeModal()">
            <i class="fa fa-check-circle"></i>
        </button>
        <h4 class="modal-title">Cambiar Contraseña</h4>
        <button type="button" class="btn btn-primary" (click)="create()">
            Guardar
        </button>
    </div>
    <div class="modal-body modal-body-change-password">
        <form [formGroup]="changePasswordForm">
            <div class="form-group">
                <label for="current">Contraseña actual *</label>
                <input formControlName="current" name="current" type="password" class="form-control" id="current">
            </div>
            <div class="form-group">
                <label for="newPassword">Nueva contraseña *</label>
                <input formControlName="newPassword" name="newPassword" type="password" class="form-control" id="newPassword">
            </div>
            <div class="form-group">
                <label for="newPasswordConfirmation">Confirmar nueva contraseña *</label>
                <input formControlName="newPasswordConfirmation" name="newPasswordConfirmation" type="password" class="form-control"
                    id="newPasswordConfirmation">
                <div *ngIf="changePasswordForm.errors?.match" class="form-control-feedback">La confirmación de la
                    contraseña no coincide.</div>
            </div>
        </form>
        <div class="validations mt-4">

            <h3>Requisitos</h3>
            <ul>
                <li [ngClass]="{'has-error': changePasswordForm.controls.newPassword.errors?.minLength}">
                    <i class="fa fa-fw" [ngClass]="{'fa-times': changePasswordForm.controls.newPassword.errors?.minLength,'fa-check-circle': !changePasswordForm.controls.newPassword.errors?.minLength }"></i>
                    <span>8 Caracteres</span>
                </li>
                <li [ngClass]="{'has-error': changePasswordForm.controls.newPassword.errors?.uppercaseLetter}">
                    <i class="fa fa-fw" [ngClass]="{'fa-times': changePasswordForm.controls.newPassword.errors?.uppercaseLetter,'fa-check-circle': !changePasswordForm.controls.newPassword.errors?.uppercaseLetter }"></i>
                    <span>Mínimo una letra mayúscula</span>
                </li>
                <li [ngClass]="{'has-error': changePasswordForm.controls.newPassword.errors?.specialCharacter}">
                    <i class="fa fa-fw" [ngClass]="{'fa-times': changePasswordForm.controls.newPassword.errors?.specialCharacter,'fa-check-circle': !changePasswordForm.controls.newPassword.errors?.specialCharacter }"></i>
                    <span>Mínimo un carácter especial</span>
                </li>
            </ul>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-secondary" (click)="closeModal()">Cancelar</button>
        <button type="submit" class="btn btn-primary" (click)="create()" [disabled]="!changePasswordForm.valid">Guardar</button>
    </div>
</ng-template>
