<h1 class="page-title">
  Cobros
</h1>
<section class="controls pt-3 pb-3">
    <button type="button" class="btn btn-secondary today mr-3" (click)="onClickToday()" [ngClass]="{'is-today': isToday()}">Hoy</button>
    <button type="button" class="btn btn-secondary previous-day border-right-0" (click)="onClickPreviousDay()">
        <i class="fa fa-fw fa-2x fa-angle-left"></i>
    </button>
    <div class="date-container text-capitalize" bsDatepicker [(bsValue)]="datePickerValue" [bsConfig]="datePickerConfig" [maxDate]="today" (bsValueChange)="fetchCharges()">
        <i class="fa fa-fw fa-calendar mr-2"></i>
        <div class="full">
            {{datePickerValue | date: 'EEEE, d MMMM y'}}
        </div>
        <div class="short">
             {{datePickerValue | date: 'd/M/yyyy'}}
        </div>
    </div>
    <button type="button" class="btn btn-secondary next-day border-left-0" (click)="onClickNextDay()" [disabled]="isToday()">
        <i class="fa fa-fw fa-2x fa-angle-right"></i>
    </button>

    <div class="input-group">
        <input type="text" class="form-control" placeholder="Código QR" aria-label="Código QR">
        <span class="input-group-btn">
            <button class="btn btn-outline-dark" type="button">
                <i class="fa fa-fw fa-search"></i>
            </button>
        </span>
    </div>
</section>
<ul class="charges-list">
    <li class="charge" *ngFor="let charge of charges">
        <div class="charge_summary">
            <div class="collapse" (click)="onToggleCollapse(charge)"><i class="fa" [class.fa-chevron-down]="!charge.collapsed" [class.fa-chevron-right]="charge.collapsed"></i></div>
            <div class="timestamp">{{charge.timestamp | date: 'h:mm a':"+0": "en-US"}}</div>
            <div class="client">{{charge.client}}</div>
            <div class="location">{{charge.qrName}},&nbsp;<a>{{charge.qrCode}}</a></div>
            <div class="transaction">No. {{charge.id}}</div>
            <div class="sell" [ngClass]="'status-' + charge.status">
                {{charge.sell | currency:'USD':'symbol':'1.2-2'}}
            </div>
        </div>
        <div class="charge_details" *ngIf="!charge.collapsed">
            <div class="map-container">
                <img [src]="charge.map" alt="Mapa del negocio">
            </div>
            <div class="columns-container">
                <div class="column">
                    <div>
                        <strong>Estado de Pago</strong>
                        <span>
                            {{statusText(charge)}}
                        </span>
                    </div>
                    <div>
                        <strong>Nombre QR</strong>
                        <span>
                            {{charge.qrName}}
                        </span>
                    </div>
                    <div>
                        <strong>Pagado con Tarjeta</strong>
                        <span>
                            <i class="fa fa-credit-card"></i>
                            {{charge.paidWith}}
                        </span>
                    </div>
                </div>
                <div class="column">
                    <div>
                        <strong>No. Transacción</strong>
                        <span>
                            {{charge.id}}
                        </span>
                    </div>
                    <div>
                        <strong>Código QR</strong>
                        <span>
                            <a>{{charge.qrCode}}</a>
                        </span>
                    </div>
                    <div>
                        <strong>Detalle de Transacción</strong>
                        <div class="transaction-details">
                            <div>
                                <span>Venta</span>
                                <span>{{charge.sell | currency:'USD':'symbol':'1.2-2'}}</span>
                            </div>
                            <div>
                                <span>Comisión</span>
                                <span>{{charge.comission | currency:'USD':'symbol':'1.2-2'}}</span>
                            </div>
                            <div>
                                <span>SMS</span>
                                <span>{{charge.sms | currency:'USD':'symbol':'1.2-2'}}</span>
                            </div>
                            <div class="sum">
                                <span>Recibes</span>
                                <span [ngClass]="'status-' + charge.status">
                                    {{(charge.sell-charge.comission) | currency:'USD':'symbol':'1.2-2'}}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div>
                        <span class="report-problem">
                            <i class="fa fa-warning"></i>
                            <a>Reportar algún problema</a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </li>
</ul>
