@import "variables";
.controls {
    display: flex;
    .btn {
        display: flex;
        box-sizing: border-box;
        height: 40px;
        width: 40px;
        justify-content: center;
        align-content: center;
        align-items: center;
        border-radius: 3px;
        background-color: $white;
        border: solid 1px $white-snow;
        color: $greyish-brown;
    }
    .btn.today {
        width: 80px;
    }
    .btn.today.is-today {
        background-color: $dark-mint;
        color: $white;
        border-color: $dark-mint;
    }
    .btn.next-day {
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        color: $warm-grey;
    }
    .btn.previous-day {
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        color: $warm-grey;
    }
    .date-container {
        height: 40px;
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        flex-basis: 228px;
        border: 1px solid $white-snow;
        cursor: pointer;
    }
    .date-container .short {
        display: none;
    }
    .input-group {
        flex-grow: 0;
        margin-left: auto;
        flex-basis: 250px;
        input {
            border-color: $white-snow;
        }
        .btn {
            border-color: $white-snow;
            color: $warm-grey;
        }
    }
}

.charges-list {
    padding-left: 0;
    list-style: none;
    border: solid 1px $white-snow;
}

.charge {
    box-shadow: 0 1px 0 0 $white-snow;
    * {
        box-sizing: border-box;
    }
    a {
        color: $dark-mint;
        cursor: pointer;
    }
    i.fa {
        margin-right: 5px;
    }
    /*deposited(1) status, paid(2) status*/
    .status-1,
    .status-2 {
        color: $deep-lavender!important;
    }
    /*declined(3) status*/
    .status-3 {
        color: $red!important;
    }
    /*fraudulent(4) status, refunded(5) status*/
    .status-4,
    .status-5 {
        color: $greyish-brown!important;
    }
    /*frozen status*/
    .status-6 {
        color: $dark!important;
    }
}

.charge_summary {
    display: flex;
    height: 56px;
    box-sizing: border-box;
    align-items: center;
    padding: 14px;
    font-size: 12px;
    letter-spacing: 0.4px;
    color: $brownish-grey;
    box-shadow: 0 1px 0 0 $white-snow;
    >div {
        display: flex;
        text-transform: capitalize;
    }
    >div.collapse {
        flex: 0 0 32px;
        color: $deep-lavender;
        display: flex;
        justify-content: center;
        margin-right: 4px;
    }
    >div.collapse>* {
        margin: 0;
        padding: 0;
    }
    >div.timestamp {
        flex: 0 0 64px;
        margin-right: 4px;
    }
    >div.client {
        font-weight: bold;
        flex-grow: 1;
        flex-basis: 116px;
        margin-right: 16px;
        display: block;
        min-width: 116px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    >div.location {
        flex: 0 0 155px;
    }
    >div.transaction {
        flex: 0 0 120px;
        padding: 0;
    }
    >div.sell {
        justify-content: flex-end;
        color: $deep-lavender;
        font-weight: bold;
        text-align: right;
        align-items: center;
        flex: 0 0 65px;
    }
}

.charge_details {
    display: flex;
    color: $brownish-grey;
    font-size: 12px;
    box-sizing: border-box;
    >* {
        display: flex;
        flex: 1;
    }
    .map {
        background-color: $white-snow;
        height: 190px;
        flex-shrink: 0;
        flex-grow: 0;
        width: 190px;
    }
    .map-container {
        display: flex;
        flex-basis: 33.33%;
        flex-grow: 0;
        flex-shrink: 0;
        justify-content: center;
        padding-top: 14px;
    }
    .columns-container {
        display: flex;
        flex-grow: 1;
    }
    .column {
        flex-direction: column;
        flex-basis: 50%;
        padding: 14px;
        box-sizing: border-box;
    }
    .column>div {
        display: flex;
        flex-direction: column;
    }
    .column>div+div {
        margin-top: 20px;
    }
    .column strong {
        margin-bottom: 4px;
    }
    .column span {
        text-transform: capitalize;
    }
.transaction-details {
        display: flex;
        flex-direction: column;
        >div {
            display: flex;
            justify-content: space-between;
            margin-bottom: 4px;
        }
        >div.sum {
            box-shadow: 0 -1px 0 0 $white-snow;
            font-weight: bold;
            padding-top: 4px;
        }
    }

    .report-problem {
        color: $dark-mint;
        a {
            text-decoration: underline;
        }
    }
}

/* MOBILE STYLES */
/* hide transaction ID */

@media (max-width: 965px) {
    .charge_summary>div.transaction {
        display: none;
    }
}


/* hide location, add padding-left to charge_details and set min width of columns*/

@media (max-width: 880px) {
    .charge_summary>div.location {
        display: none;
    }
    .charge_details {
        padding-left: 14px;
        .column {
            min-width: 150px;
        }
    }
    .controls {
        padding-right: 1rem;
        padding-left: 1rem;
        >* {
            margin-top: 1rem;
        }
        .input-group {
            display: none;
        }
    }
}


/* move columns-container below map-container, keeping 2 columns */

@media (max-width: 590px) {
    .charge_details {
        flex-wrap: wrap;
        .map-container {
            flex-basis: 100%;
        }
        .columns-container {
            flex-basis: 100%
        }
    }
}


/* use a single column for columns-container */

@media (max-width: 520px) {
    .charge_details {
        .columns-container {
            flex-direction: column;
        }
        .column {
            flex-basis: auto;
        }
    }
}

@media (max-width: 420px) {
    .controls .date-container {
        .full {
            display: none;
        }
        .short {
            display: block;
        }
    }
}


/* reduce paddings and hide client name */

@media (max-width: 319px) {
    .charge_summary {
        padding-left: 0px;
        padding-right: 0px;
        >div.client {
            display: none;
        }
        >div.sell {
            margin-left: auto;
            margin-right: 8px;
        }
    }
}

