.controls {
    display: flex;
}

.controls .btn {
    display: flex;
    box-sizing: border-box;
    height: 40px;
    width: 40px;
    justify-content: center;
    align-content: center;
    align-items: center;
    border-radius: 3px;
    background-color: #ffffff;
    border: solid 1px #ebebeb;
    color: #555555;
}

.controls .btn.today {
    width: 80px;
}

.controls .btn.today.is-today {
    background-color: #4db6ac;
    color: #fff;
    border-color: #4db6ac;
}

.controls .btn.next-day {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    color: #999999;
}

.controls .btn.previous-day {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    color: #999999;
}

.controls .date-container {
    height: 40px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-basis: 228px;
    border: 1px solid #ebebeb;
    cursor: pointer;
}

.controls .date-container .short {
    display: none;
}

.controls .input-group {
    flex-grow: 0;
    margin-left: auto;
    flex-basis: 250px;
}

.controls .input-group input {
    border-color: #ebebeb;
}

.controls .input-group .btn {
    border-color: #ebebeb;
    color: #999999;
}

.charges-list {
    padding-left: 0;
    list-style: none;
    border: solid 1px #ebebeb;
}

.charge {
    box-shadow: 0 1px 0 0 #ebebeb;
}

.charge * {
    box-sizing: border-box;
}

.charge_summary {
    display: flex;
    height: 56px;
    box-sizing: border-box;
    align-items: center;
    padding: 14px;
    font-size: 12px;
    letter-spacing: 0.4px;
    color: #666;
    box-shadow: 0 1px 0 0 #ebebeb;
}

.charge_summary>div {
    display: flex;
    text-transform: capitalize;
}

.charge_summary>div.collapse {
    flex: 0 0 32px;
    color: #6e59a6;
    display: flex;
    justify-content: center;
    margin-right: 4px;
}

.charge_summary>div.collapse>* {
    margin: 0;
    padding: 0;
}

.charge_summary>div.timestamp {
    flex: 0 0 64px;
    margin-right: 4px;
}

.charge_summary>div.client {
    font-weight: bold;
    flex-grow: 1;
    flex-basis: 116px;
    margin-right: 16px;
    display: block;
    min-width: 116px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.charge_summary>div.location {
    flex: 0 0 155px;
}

.charge a {
    color: #4db6ac;
    cursor: pointer;
}

.charge_summary>div.transaction {
    flex: 0 0 120px;
    padding: 0;
}

.charge_summary>div.sell {
    justify-content: flex-end;
    color: #6e59a6;
    font-weight: bold;
    text-align: right;
    align-items: center;
    flex: 0 0 65px;
}

.charge i.fa {
    margin-right: 5px;
}


/*deposited(1) status, paid(2) status*/

.charge .status-1,
.charge .status-2 {
    color: #6E59A6!important;
}


/*declined(3) status*/

.charge .status-3 {
    color: #FF0000!important;
}


/*fraudulent(4) status, refunded(5) status*/

.charge .status-4,
.charge .status-5 {
    color: #555!important;
}


/*frozen status*/

.charge .status-6 {
    color: #000!important;
}

.charge_details {
    display: flex;
    color: #666;
    font-size: 12px;
    box-sizing: border-box;
}

.charge_details>* {
    display: flex;
}

.charge_details>* {
    flex: 1;
}

.charge_details .map {
    background-color: #eee;
    height: 190px;
    flex-shrink: 0;
    flex-grow: 0;
    width: 190px;
}

.charge_details .map-container {
    display: flex;
    flex-basis: 33.33%;
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: center;
    padding-top: 14px;
}

.charge_details .columns-container {
    display: flex;
    flex-grow: 1;
}

.charge_details .column {
    flex-direction: column;
    flex-basis: 50%;
    padding: 14px;
    box-sizing: border-box;
}

.charge_details .column>div {
    display: flex;
    flex-direction: column;
}

.charge_details .column>div+div {
    margin-top: 20px;
}

.charge_details .column strong {
    margin-bottom: 4px;
}

.charge_details .column span {
    text-transform: capitalize;
}

.charge_details .transaction-details {
    display: flex;
    flex-direction: column;
}

.charge_details .transaction-details>div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
}

.charge_details .transaction-details>div.sum {
    box-shadow: 0 -1px 0 0 #ebebeb;
    font-weight: bold;
    padding-top: 4px;
}

.charge_details .report-problem {
    color: #4db6ac;
}

.charge_details .report-problem a {
    text-decoration: underline;
}

.is-nav-collapsed .charge_details .report-problem {
    background-color: blue;
}


/* MOBILE STYLES */


/* hide transaction ID */

@media (max-width: 965px) {
    .charge_summary>div.transaction {
        display: none;
    }
}


/* hide location, add padding-left to charge_details and set min width of columns*/

@media (max-width: 880px) {
    .charge_summary>div.location {
        display: none;
    }
    .charge_details {
        padding-left: 14px;
    }
    .charge_details .column {
        min-width: 150px;
    }
    .controls {
        padding-right: 1rem;
        padding-left: 1rem;
    }
    .controls>* {
        margin-top: 1rem;
    }
    .controls .input-group {
        display: none;
    }
}


/* move columns-container below map-container, keeping 2 columns */

@media (max-width: 590px) {
    .charge_details {
        flex-wrap: wrap;
    }
    .charge_details .map-container {
        flex-basis: 100%;
    }
    .charge_details .columns-container {
        flex-basis: 100%
    }
}


/* use a single column for columns-container */

@media (max-width: 520px) {
    .charge_details .columns-container {
        flex-direction: column;
    }
    .charge_details .column {
        flex-basis: auto;
    }
}

@media (max-width: 420px) {
    .controls .date-container .full {
        display: none;
    }
    .controls .date-container .short {
        display: block;
    }
}


/* reduce paddings and hide client name */

@media (max-width: 319px) {
    .charge_summary {
        padding-left: 0px;
        padding-right: 0px;
    }
    .charge_summary>div.client {
        display: none;
    }
    .charge_summary>div.sell {
        margin-left: auto;
        margin-right: 8px;
    }
}
