aside {
    position: fixed;
    width: 264px;
    background-color: #fff;
    right: 0;
    top: 0;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    display: block;
    padding-bottom: 40px;
    transition: width .2s, height .2s;
    z-index: 2;
    border-left: 1px solid #ebebeb;
}

header {
    display: flex;
    height: 48px;
    align-content: center;
    align-items: center;
}

header strong {
    white-space: nowrap;
}

.icon-wrapper {
    display: flex;
    width: 48px;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-shrink: 0;
}

.toggler {
    display: flex;
    background-color: #fff;
    position: fixed;
    bottom: 0;
    height: 40px;
    align-content: center;
    align-items: center;
    justify-content: center;
    width: 264px;
    transition: opacity .2s ease-in-out .2s, width .2s;
    text-decoration: none;
    border-top: 1px solid #ebebeb;
}

.toggler i {
    font-size: 14px;
    color: #999999;
}

@media (min-width: 986px) {
    aside {
        right: calc(50% - 493px);
    }
}

@media (min-width: 1410px) {
    aside {
        right: calc(50% - 707px);
    }
    .toggler {
        display: none;
    }
}

:host.is-collapsed aside {
    width: 48px;
}

:host.is-collapsed .toggler {
    width: 48px;
}


/* MOBILE STYLES */

@media (max-width: 880px) {
     :host {
        z-index: 1101;
    }
     :host.is-collapsed aside {
        height: 48px;
        overflow: hidden;
    }
     :host.is-collapsed .toggler {
        visibility: hidden;
        opacity: 0;
    }
     :host.is-expanded .toggler {
        visibility: visible;
        opacity: 1;
    }
    aside {
        border-bottom: 1px solid #ebebeb;
    }
}
