$white-smoke: #f5f5f5;
$dark-mint: #4db6ac;
$twilight: #53437d;
$dusk: #423664;
$white-snow: #ebebeb;
$deep-lavender: #6e59a6;
$light-grey-blue: #9999cc;
$brownish-grey: #666666;
$warm-grey: #999999;
$pinkish-grey: #c7c7c7;
$dark: #30274a;
$light-gray: #f9f9f9;
$greyish-brown: #555555;
$white: #fdfdfd;
$red: #ee0000;
