<h1 class="page-title">
    Códigos QR
</h1>
<section class="controls pt-3 pb-3">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Código QR" aria-label="Código QR">
        <span class="input-group-btn">
            <button class="btn btn-control" type="button">
                <i class="fa fa-fw fa-search"></i>
            </button>
        </span>
    </div>
    <button class="btn btn-primary ml-auto" (click)="showCreateQrModal()">
        <i class="fa fa-plus mr-3" aria-hidden="true"></i>
        <span>Agregar QR</span>
    </button>
</section>
<section class="qr-codes" *ngIf="qrCodes.length">
    <div class="heading">
        <div class="name-column">
            Nombre <i class="fa fa-chevron-down"></i>
        </div>
        <div class="qr-id-column">
            QR ID <i class="fa fa-chevron-down"></i>
        </div>
        <div class="phone-column">
            Teléfono <i class="fa fa-chevron-down"></i>
        </div>
    </div>
    <ul class="list">
        <li *ngFor="let code of qrCodes" class="list-item" [class.is-disabled]="!code.enabled">
            <div class="name-column">
                {{code.name}}
            </div>
            <div class="qr-id-column">
                <a href="#">
                    <span *ngIf="code.enabled">
                        {{code.qr}}
                    </span>
                </a>
                <span *ngIf="!code.enabled">
                    Deshabilitado
                </span>
            </div>
            <div class="phone-column">
                {{code.phone}}
            </div>

            <div dropdownToggle class="btn-group actions-button" dropdown placement="bottom right">
                <i class="fa fa-ellipsis-v"></i>
                <ul *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu">
                    <li role="menuitem">
                        <a class="dropdown-item" (click)="showShowQrModal(code)">Mostrar</a>
                    </li>
                    <li class="divider dropdown-divider"></li>
                    <li role="menuitem" >
                        <a class="dropdown-item" (click)="showUpdateQrModal(code)">Editar</a>
                    </li>
                    <li role="menuitem">
                        <a class="dropdown-item" (click)="showDownloadQrModal(code)">Descargar</a>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</section>
<div *ngIf="qrCodes.length === 0" class="empty-state">
    <div class="image"></div>
    <div class="text">
        <div>
            <strong class="mr-1">0</strong> Códigos QR
        </div>
        <div>
            No se encontraron resultados
        </div>
        <div>
            Intenta modificando tus criterios de búsqueda
        </div>
    </div>
</div>

<ng-template #templateCreateQr>
    <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="closeModal()">
            <i class="fa fa-times"></i>
        </button>
        <h4 class="modal-title">Agregar QR</h4>
        <button type="button" class="btn btn-primary" (click)="create()">
            Crear
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="createQrForm">
            <div class="form-group">
                <label for="name">Nombre *</label>
                <input formControlName="name" name="name" type="text" class="form-control" id="name" placeholder="Nombre">
            </div>
            <div class="form-group">
                <label for="phone">Teléfono *</label>
                <input formControlName="phone" name="phone" type="tel" class="form-control" id="phone" placeholder="Teléfono">
            </div>
            <div class="form-group">
                <label for="description">Descripción *</label>
                <textarea formControlName="description" name="description" class="form-control no-resize" rows="2" id="description" placeholder="Descripción"></textarea>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-secondary" (click)="closeModal()">Cancelar</button>
        <button type="submit" class="btn btn-primary" (click)="create()" [disabled]="!createQrForm.valid">Crear</button>
    </div>
</ng-template>

<ng-template #templateUpdateQr>
    <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="closeModal()">
            <i class="fa fa-times"></i>
        </button>
        <h4 class="modal-title">Editar QR</h4>
        <button type="button" class="btn btn-primary" (click)="update()">
            Guardar
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="updateQrForm">
            <input formControlNam="id" type="hidden" name="id">
            <div class="form-group">
                <label for="name">Nombre</label>
                <input formControlName="name" name="name" type="text" class="form-control" id="name" placeholder="Nombre">
            </div>
            <div class="form-group">
                <label for="phone">Teléfono</label>
                <input formControlName="phone" name="phone" type="tel" class="form-control" id="phone" placeholder="Teléfono">
            </div>
            <div class="form-group">
                <label for="description">Descripción</label>
                <textarea formControlName="description" name="description" class="form-control no-resize" rows="2" id="description" placeholder="Descripción"></textarea>
            </div>
            <div class="form-group">
                <label for="qr">QR</label>
                <input formControlName="qr" name="qr" type="text" class="form-control" id="qr">
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-secondary" (click)="closeModal()">Cancelar</button>
        <button type="submit" class="btn btn-primary" (click)="update()" [disabled]="updateQrForm.invalid">Guardar</button>
    </div>
</ng-template>

<ng-template class="show-qr-modal" #templateShowQr>
    <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="closeModal()">
            <i class="fa fa-times"></i>
        </button>
        <h4 class="modal-title">Mostrar QR</h4>
    </div>
    <div class="modal-body modal-body-qr">
        <div class="qr-code-container">
            <qrcode [qrdata]="'http://cytg.co/' + qrToShow" [size]="208" [level]="'M'"></qrcode>
        </div>
        <div class="qr-code-text">
            {{qrToShow}}
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" (click)="closeModal()">Cerrar</button>
    </div>
</ng-template>