@import "variables";
$li-height: 56px;
$heading-height: 40px;
$mobile-heading-height: 32px;
$mobile-padding: 17px;
$mobile-button-width: 150px;
$actions-button-size: 32px;
.controls {
    display: flex;
    .input-group {
        .btn {
            width: 40px;
        }
        flex-grow: 0;
        flex-basis: 250px;
    }
    .btn-primary {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

.qr-codes {
    border: 1px solid $white-snow;
    .heading {
        background-color: $light-gray;
        display: flex;
        height: $heading-height;
        align-items: center;
        border-bottom: 1px solid $white-snow;
        color: $brownish-grey;
    }
    ul.list {
        padding: 0;
        margin: 0;
        list-style: none;
        li.list-item {
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            align-items: center;
            height: $li-height;
            color: $greyish-brown;
            border-bottom: 1px solid $white-snow;
            &:last-of-type {
                border-bottom: none;
            }
            &.is-disabled {
                background-color: $white;
                color: $warm-grey !important;
            }
        }
    }
    .name-column {
        flex-basis: 40%;
        flex-shrink: 0;
        box-sizing: border-box;
        padding-left: 40px;
        text-transform: capitalize;
    }
    .qr-id-column {
        flex-grow: 0;
        flex-basis: 110px;
        flex-shrink: 0;
        a {
            color: $dark-mint;
        }
    }
    .phone-column {
        flex-basis: 30%;
    }
    .actions-button {
        margin-left: auto;
        margin-right: $mobile-padding;
        min-width: $actions-button-size;
        min-height: $actions-button-size;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        cursor: pointer;
    }
    i {
        margin-left: 4px;
    }
}

.empty-state {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 32px;

    .image {
        width: 215px;
        height: 215px;
        background-image: url(../../../assets/svg/placeholder-qr-manager@3x.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .text {
        margin-top: 32px;
        color: $greyish-brown;

        div {
            display: flex;
            justify-content: center;
            align-content: center;
            align-items: center;
            font-size: 14px;

            strong {
                font-size: 14px;
                font-weight: bold;
            }
        }

        div:nth-of-type(2) {
            margin: 32px 0;
        }

        div:nth-of-type(3) {
            font-size: 12px;
        }
    }
}

// Mobile styles
@media (max-width: 880px) {
    .controls {
        padding-bottom: 0 !important;
        padding-top: 0 !important;
        .input-group {
            border: none;
            input {
                border: none;
            }
            .btn {
                width: 40px;
                border: none;
            }
            flex-grow: 1;
        }
        .btn-primary {
            position: fixed;
            bottom: 24px;
            width: $mobile-button-width;
            left: calc(100%/2 - #{$mobile-button-width/2});
        }
    }
    .qr-codes {
        border-left: none;
        border-right: none;
        .heading {
            height: $mobile-heading-height;
        }
        .name-column {
            flex-basis: 50%;
            white-space: nowrap;
            min-width: 150px;
            padding-left: $mobile-padding;
        }
        .qr-id {
            flex-shrink: 0 !important;
        }
        .phone-column {
            display: none;
        }
        padding-bottom: 88px;
        ul.list {
            li.list-item {
                &:last-of-type {
                    border-bottom: 1px solid $white-snow;
                }
            }
        }
    }
}
