<aside class="sidebar">
    <ul class="nav nav-sidebar">
        <li>
            <a (click)="toggleNav();">
                <i class="fa fa-2x fa-navicon"></i>
            </a>
        </li>
    </ul>
    <ul class="nav nav-sidebar">
        <li class="active">
            <a href="#" tooltipPlacement="right" tooltip="Home" tooltipClass="nowrapTooltip">
                <i class="fa fa-2x fa-home"></i>
                <span class="name">Home</span>
                <span class="sr-only">(current)</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-2x fa-money"></i>
                <span class="name">Cobros</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-2x fa-qrcode"></i>
                <span class="name">QR Admin</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-2x fa-pie-chart"></i>
                <span class="name">Analytics</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-2x fa-shopping-cart"></i>
                <span class="name">Productos</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-2x fa-ticket"></i>
                <span class="name">Ticket</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-2x fa-trophy"></i>
                <span class="name">Promo</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-2x fa-building"></i>
                <span class="name">Sucursales</span>
            </a>
        </li>
    </ul>
</aside>
