aside {
    left: 0;
    height: 100%;
    padding: 0px;
    background-color: #53437d;
    color: #9999cc;
    width: 220px;
    overflow: visible;
    transition: width .2s;
    position: fixed;
}

@media (max-width: 768px) {
    aside {
        display: none;
    }
}

.name {
    white-space: nowrap;
}

a {
    color: #9999cc;
}

nav {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.nav-item a,
.nav-item a:focus,
.nav-item a:active
{
    vertical-align: middle;
    white-space: nowrap;
    height: 40px;
    line-height: 40px;
    padding: 0;
    transition: width .2s;
    overflow: hidden;
    width: 100%;
    background-color: #53437d;
}

nav i{
    font-size: 18px;
}

.nav-item.active a,
.nav-item.active a:hover,
.nav-item.active a:active,
.nav-item.active a:focus {
    background-color: #4DB6AC;
    color: #fff;

}

.nav-item a:hover{
    background-color: #6e59a6;
    color: #fff;
}

:host.collapsed aside{
    width: 50px;
}

.icon-wrapper {
    text-align: center;
    width: 50px;
    display: inline-block;
}

.toggler {
    display: block;
    background-color: #423664;
    position: fixed;
    bottom: 0;
    height: 40px;
    line-height: 40px;
    width: 220px;
    text-align: center;
    transition: width .2s;
}

.toggler i {
    font-size: 18px;
    width: 50px;
    color: #fff;
}

:host.collapsed .toggler {
    width: 50px;
}

.logo {
    height: 60px;
    overflow: hidden;
    width: 100%;
}

.logo .imagetype {
    height: 36px;
    margin-left: 11px;
    margin-top: 16px;
}

/deep/ .tooltip-inner{
    white-space:nowrap;
    max-width:none;
}
