<aside class="sidebar">
    <ul class="nav nav-sidebar">
        <li>
            <a (click)="toggleNav();">
                <i class="fa fa-2x fa-navicon"></i>
            </a>
        </li>
    </ul>
    <ul class="nav nav-sidebar">
        <li class="active">
            <a href="#" tooltipPlacement="right" tooltip="Cobros" [tooltipEnable]="navIsCollapsed">
                <a class="icon-wrapper">
                    <i class="fa fa-money"></i>
                </a>
                <span class="name">Cobros</span>
            </a>
        </li>
        <li>
            <a href="#" tooltipPlacement="right" tooltip="QR&nbsp;Admin" [tooltipEnable]="navIsCollapsed">
                <a class="icon-wrapper">
                    <i class="fa fa-qrcode"></i>
                </a>
                <span class="name">QR Admin</span>
            </a>
        </li>
        <li>
            <a href="#" tooltipPlacement="right" tooltip="Estadisticas" [tooltipEnable]="navIsCollapsed">
                <a class="icon-wrapper">
                    <i class="fa fa-pie-chart"></i>
                </a>
                <span class="name">Estadisticas</span>
            </a>
        </li>
        <li>
            <a href="#" tooltipPlacement="right" tooltip="Productos" [tooltipEnable]="navIsCollapsed">
                <a class="icon-wrapper">
                    <i class="fa fa-shopping-cart"></i>
                </a>
                <span class="name">Productos</span>
            </a>
        </li>
        <li>
            <a href="#" tooltipPlacement="right" tooltip="Tickets" [tooltipEnable]="navIsCollapsed">
                <a class="icon-wrapper">
                    <i class="fa fa-ticket"></i>
                </a>
                <span class="name">Tickets</span>
            </a>
        </li>
        <li>
            <a href="#" tooltipPlacement="right" tooltip="Promociones" [tooltipEnable]="navIsCollapsed">
                <a class="icon-wrapper">
                    <i class="fa fa-trophy"></i>
                </a>
                <span class="name">Promociones</span>
            </a>
        </li>
        <li>
            <a href="#" tooltipPlacement="right" tooltip="Sucursales" [tooltipEnable]="navIsCollapsed">
                <a class="icon-wrapper">
                    <i class="fa fa-building"></i>
                </a>
                <span class="name">Sucursales</span>
            </a>
        </li>
        <li>
            <a href="#" tooltipPlacement="right" tooltip="Administracion" [tooltipEnable]="navIsCollapsed">
                <a class="icon-wrapper">
                    <i class="fa fa-cog"></i>
                </a>
                <span class="name">Administracion</span>
            </a>
        </li>
    </ul>
</aside>
