<aside>
    <div class="logo">
        <img class="imagetype" src="assets/svg/credytag-imagetype.svg" alt="Credytag">
    </div>
    <nav class="nav">
        <li class="nav-item" *ngFor="let tab of tabs">
            <a href="#" tooltipPlacement="right" [tooltip]="tab.name" [tooltipEnable]="navIsCollapsed">
                <div class="icon-wrapper">
                    <i class="fa fa-{{tab.icon}}"></i>
                </div>
                <span class="name">{{tab.name}}</span>
            </a>
        </li>
    </nav>
    <a class="toggler" (click)="toggleNav()">
        <i class="fa" [class.fa-caret-right]="navIsCollapsed" [class.fa-caret-left]="!navIsCollapsed"></i>
    </a>
</aside>
