:host {
    display: block;
    position: fixed;
    left: 0;
    height: 100%;
    padding: 0px;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #53437d;
    color: #9999cc;
    width: 220px;
    transition: width .2s;
}

@media (max-width: 768px) {
    :host {
        display: none;
    }
}

.name {
    white-space: nowrap;
}

a {
    color: #9999cc;
}

/* Sidebar navigation */

.nav-sidebar {
    -webkit-user-select: none;
    /* Chrome all / Safari all */
    -moz-user-select: none;
    /* Firefox all */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
    /* Likely future */
}

.nav-sidebar>li>a {
    vertical-align: middle;
    white-space: nowrap;
    height: 40px;
    line-height: 40px;
    padding: 0;
}

.nav-sidebar i {
    font-size: 18px;
}

.nav-sidebar > .active a,
.nav-sidebar > .active a:hover,
.nav-sidebar > .active a:focus {
    background-color: #4DB6AC;
    color: #fff;
}

.nav-sidebar a:hover,
.nav-sidebar a:focus,
.nav-sidebar a:active {
    background-color: #6e59a6;
    color: #fff;
}

:host.collapsed {
    width: 50px;
}

.icon-wrapper {
    text-align: center;
    width: 50px;
    display: inline-block;
}

.toggler {
    display: block;
    background-color: #423664;
    position: fixed;
    bottom: 0;
    height: 40px;
    line-height: 40px;
    width: 220px;
    transition: width .2s;
    text-align: center;
}

.toggler i {
    font-size: 18px;
    width: 50px;
    color: #fff;
}

:host.collapsed .toggler {
    width: 50px;
}

.logo {
    height: 60px;
}

.logo .imagetype {
    height: 36px;
    margin-left: 11px;
    margin-top: 16px;
}
