aside {
    left: 0;
    height: 100vh;
    padding: 0px;
    background-color: #53437d;
    color: #9999cc;
    width: 216px;
    overflow: visible;
    transition: width .2s, height .2s;
    position: fixed;
    z-index: 1;
    font-size: 14px;
}

.name {
    white-space: nowrap;
}

a {
    color: #9999cc;
}

nav {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.nav-item{
    overflow-x: hidden;
    flex-basis: 100%;
}

.nav-item a,
.nav-item a:focus,
.nav-item a:active
{
    display: flex;
    white-space: nowrap;
    height: 40px;
    align-content: center;
    align-items: center;
    padding: 0;
    transition: width .2s;
    overflow: hidden;
    background-color: #53437d;
    text-decoration: none;
}

nav i{
    margin: 0 16px;
    flex-grow: 0;
    flex-shrink: 0;
    margin-right: 16px;
}

.nav-item.active a,
.nav-item.active a:hover,
.nav-item.active a:active,
.nav-item.active a:focus {
    background-color: #4DB6AC;
    color: #fff;

}

.nav-item a:hover{
    background-color: #6e59a6;
    color: #fff;
}

:host.is-collapsed aside{
    width: 48px;
}

.icon-wrapper {
    display: flex;
    width: 48px;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-shrink: 0;
}

.toggler {
    display: flex;
    background-color: #423664;
    position: fixed;
    bottom: 0;
    height: 40px;
    align-content: center;
    align-items: center;
    justify-content: center;
    width: 216px;
    transition: opacity .2s ease-in-out .2s, width .2s;
    text-decoration: none;
}

.toggler i {
    color: #fff;
}

:host.is-collapsed .toggler {
    width: 48px;
}

.logo {
    height: 48px;
    overflow: hidden;
    display: flex;
    align-items: center;
    align-content: center;
}

.logo .icon {
    height: 26px;
}

.logo .logotype {
    height: 34px;
    margin-top:8px;
}

/deep/ .tooltip-inner{
    white-space:nowrap;
    max-width:none;
}

@media (min-width: 880px) and (max-width: 933px) {
    .toggler {
        display: none;
    }
}

@media (min-width: 986px) {
    aside {
        left: calc(50% - 493px);
    }
}

/* MOBILE STYLES */

@media (max-width: 880px) {

    :host{
        z-index: 1101;
    }

    :host.is-collapsed aside {
        height: 48px;
        overflow: hidden;
    }

    :host.is-collapsed .toggler {
        visibility: hidden;
        opacity: 0;
    }

    :host.is-expanded .toggler {
        visibility: visible;
        opacity: 1;
    }

}
