<section class="container-fluid" [style.max-width]="maxScreenWidth + 'px'">
    <div class="row">
        <app-sidenav [class.is-collapsed]="responsiveService.navIsCollapsed" [class.is-expanded]="!responsiveService.navIsCollapsed">
            sidenav
        </app-sidenav>
        <app-content [class.is-nav-collapsed]="responsiveService.navIsCollapsed" [class.is-feed-collapsed]="feedIsCollapsed">
            content
        </app-content>
        <app-feed [class.is-collapsed]="feedIsCollapsed" [class.is-expanded]="!feedIsCollapsed" [feedIsCollapsed]="feedIsCollapsed" (toggleFeed)="feedIsCollapsed = !feedIsCollapsed">
            feed
        </app-feed>
    </div>
</section>
